<div class="container-fluid" style="text-align: center; margin: 0px; padding: 0px;">

    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-md-4">
            <table class="table table-bordered table-dark table-hover table-condensed"
                style="margin: 5px; opacity: 0.8;">
                <thead>
                    <tr>
                        <th>Pitcher</th>
                        <th>Batter</th>
                        <th>Outs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="Game && Game.CurrentAtBat && Game.CurrentAtBat.Pitcher"><img
                                [src]="Game.CurrentAtBat.Pitcher.PlayerImageURL" alt="!"
                                onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            {{Game.CurrentAtBat.Pitcher.Name}}</td>
                        <td *ngIf="Game && Game.CurrentAtBat && Game.CurrentAtBat.Batter"><img
                                [src]="Game.CurrentAtBat.Batter.PlayerImageURL" alt="!"
                                onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            {{Game.CurrentAtBat.Batter.Name}}</td>
                        <td>
                            <ng-container *ngIf="Game.CurrentInning.IsBottomOfInning">
                                {{ Game.CurrentInning.HomeOuts }}
                            </ng-container>
                            <ng-container *ngIf="!Game.CurrentInning.IsBottomOfInning">
                                {{ Game.CurrentInning.AwayOuts }}
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <table class="table table-bordered table-dark table-hover table-condensed"
                style="margin-left: 5px; margin-right: 5px; margin-bottom: -10px; opacity: 0.8;">
                <thead>
                    <tr>
                        <th></th>
                        <ng-container *ngFor="let inning of Game.Innings">
                            <th>{{inning.InningNumber}}</th>
                        </ng-container>
                        <th>R</th>
                        <th>H</th>
                        <th>E</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{Game.AwayTeam.TeamSeason}} {{Game.AwayTeam.TeamCity}} {{Game.AwayTeam.TeamName}}</td>
                        <ng-container *ngFor="let inning of Game.Innings">
                            <td>{{inning.AwayRunsScored}}</td>
                        </ng-container>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{Game.HomeTeam.TeamSeason}} {{Game.HomeTeam.TeamCity}} {{Game.HomeTeam.TeamName}}</td>
                        <ng-container *ngFor="let inning of Game.Innings">
                            <td> {{inning.HomeRunsScored}}</td>
                        </ng-container>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-3">
            <table class="table table-bordered table-dark table-hover table-condensed"
                style="margin: 5px; opacity: 0.8;">
                <thead>
                    <tr>
                        <th>Play-By-Play Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div>
                                <span>
                                    {{ Game.PlayByPlay }}
                                </span>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-md-2">
            <table *ngIf="Game && Game.AwayTeam" class="table table-bordered table-dark table-hover table-condensed"
                style="margin-top: 20px; opacity: 0.9;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Name</th>
                        <th>Pos</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lineUpNumber of lineupNumbers">
                        <tr *ngIf="Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber)">
                            <td class="text-center">{{lineUpNumber}}</td>
                            <td><img [src]="Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).PlayerImageURL"
                                    alt="!" onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            </td>
                            <td>{{Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).Name}}</td>
                            <td class="text-center">
                                {{Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).Position}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col-md-8"> <canvas id="ballparkCanvas" style="max-width: 100%" [width]="canvasWidth"
                [height]="canvasHeight"> </canvas><br />
            <button class="btn btn-success btn-block" (click)=" ExecuteNextPlay()">Next Play</button>
        </div>
        <div class="col-md-2">
            <table *ngIf="Game && Game.HomeTeam" class="table table-bordered table-dark table-hover table-condensed"
                style="margin-top: 20px; opacity: 0.9;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Name</th>
                        <th>Pos</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lineUpNumber of lineupNumbers">
                        <tr *ngIf="Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber)">
                            <td class="text-center">{{lineUpNumber}}</td>
                            <td><img [src]="Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).PlayerImageURL"
                                    alt="!" onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            </td>
                            <td>{{Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).Name}}</td>
                            <td class="text-center">
                                {{Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).Position}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">

        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-sm-6 col-m-2 col-lg-1 done"> <button class="btn btn-warning btn-block"
                (click)="FlipHomeAway()">Flip Home/Away</button> </div>
        <div class="col-sm-6 col-m-2 col-lg-1 done"> <button class="btn btn-danger btn-block "
                (click)="FlyBallOutToFirst()">Fly Out To First</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1 done"> <button class="btn btn-danger btn-block"
                (click)="FlyBallOutToThird()">Fly Out To Third</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1 done"> <button class="btn btn-success btn-block"
                (click)="HomerLeftFieldLine()">Homer Left Field Line</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1 done">
            <button class="btn btn-success btn-block" (click)="LongHomerLeftFieldLine()">Long Homer Left Field
                Line</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1 done"> <button class="btn btn-success btn-block"
                (click)="HomerLeftField()">Homer Left Field</button></div>

        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="HomerLeftCenterField()">Homer Left-Center
                Field</button></div>

        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block">Homer Center</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block">Homer Right Field Line</button>
        </div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block">Homer Right-Center
                Field</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block">Homer Right Field</button>
        </div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block"
                (click)="Fastball()">Fastball</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block"
                (click)="BreakingBallRH()">BreakingBallRH</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-danger btn-block"
                (click)="BreakingBallLH()">BreakingBallLH</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1 done"> <button class="btn btn-success btn-block"
                (click)="GroundBallSingleLeft1()">Ground Ball Single Left 1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="GroundBallSingleLeft2()">Ground-ball Left 2</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="GroundBallSingleCenter1()">Ground-ball Center 1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="GroundBallSingleCenter2()">Ground-ball Center 2</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="GroundBallSingleRight1()">Ground-ball Right 1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="GroundBallSingleRight2()">Ground-ball Right 2</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="FlyBallDoubleLeft1()">Fly-ball Left 1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="FlyBallDoubleLeft2()">Fly-ball Left 2</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="FlyBallDoubleLeftCenter()">Fly-ball Left-Center
                1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"> <button class="btn btn-success btn-block"
                (click)="FlyBallDoubleRightCenter()">Fly-ball Right-Center
                1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1">
            <button class="btn btn-success btn-block" (click)="FlyBallDoubleRight1()">Fly-ball Right 1</button></div>
        <div class="col-sm-6 col-m-2 col-lg-1"></div>

    </div>
</div>