/* You can add global styles to this file, and also import other style files */

body {
    /* Margin bottom by footer height */
    // margin-bottom: 60px;
 
    // background-repeat: repeat;
    // background-size: 100%; /*if you wanted to 'fill' the page to max size without cropping*/
    // color: white;

    background: url(../../BittleBattleBaseball/src/assets/images/BaseballFieldBackground.jpg);

    min-height: 100%;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

.btn-primary {
  background-color: #00004E;
}

.btn-danger {
    background-color: #B30000;
  }

table {
    color: white;
}

hr {
    background-color: white;
}

select {
    cursor: pointer;
}

option {
    cursor: pointer;
}

hr.primary {
    background-color: #00004E;
    height: 12px;
}

hr.danger {
    background-color: #B30000;
    height: 12px;
}

div.card {
    border: 1px solid white;
    margin: 3px;
}

button {
    margin: 3px !important;
}

button.btn-pos{
    padding: 5px !important;
}

button.btn-danger{
    background-color: #B30000;
    color: white;
    border: none;
}

button.btn-success{
    background-color: darkgreen;
    color: white;
    border: 1px solid white;
}

button.btn-primary{
    background-color: #00004E;
color: white;
border: none;
}

button.btn-primary:hover{
    background-color: darkgrey;
}

div.alert-danger{
    background-color: #B30000;
    color: white;
    border: none;
}

div.alert-primary {
background-color: #00004E;
color: white;
border: none;
}

footer {
    color: white;
}

a {
    color: #00004E !important;
    font-weight: bold;
}

a:hover {
    color: lightgrey !important;
}

th {
    text-align: center !important;
    vertical-align: middle !important;
}

td {
    text-align: center !important;
    vertical-align: middle !important;
    font-size: small;
    padding: 3px;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid gray; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    margin-right: auto;
    margin-left: auto;      
    margin-top: 10%;  
    margin-bottom: 10%;  
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }