<div class="card"
    style="text-align: center; padding: 15px; background-color: transparent; border: none; color: white; min-height: 500px;">
    <h5><img style="cursor:pointer; max-width: 25px;" src="../assets/images/baseballicon.png" /> Bittle Battle Baseball
        <img style="cursor:pointer; max-width: 25px;" src="../assets/images/baseballicon.png" /></h5>
    <hr />
    <div class="card-container">
        <p>Bittle Battle Baseball is a baseball simulator based upon real historical stats.... You can
            choose any two teams to play against one another in a head-to-head simulation where
            you will get to see each play take place and find out the ultimate outcome of the game. Let history come
            ALIVE!!!</p>

        <hr class="primary" />
        <img style="max-height: 350px; max-width: 100%" src="{{ImageCarouselURL}}" alt="{{ImageCarouselURL}}"
            title="{{ImageCarouselURL}}">
        <hr class="danger" />
        <p>All data comes from Rapid API MLB and is the property of Major League Baseball: <a
                href="https://rapidapi.com/theapiguy/api/mlb-data?endpoint=apiendpoint_5bb12f91-63f4-4408-81af-a063da9de50f"
                target="_blank">Rapid API - MLB</a> and Baseball-Reference.com : <a
                href="http://www.baseball-reference.com" target="_blank">Baseball-Reference</a></p>
        <br />
        <img src="../assets/images/mlbLogo.jpg">
        <p>All of the data is property of MLB/MLB Advanced Media, and you should refer to their <a target="_blank"
                href="http://gdx.mlb.com/components/copyright.txt">terms of use</a> before using any of it in projects.
        </p>

        <hr />
        <button style="padding: 20px;" class="btn btn-primary" routerLink="/searchteams"><img
                style="cursor:pointer; max-width: 15px;" src="../assets/images/baseballicon.png" /> New Single Player
            Game <i class="fa fa-arrow-right"></i></button>
    </div>
</div>