<div class="container-fluid" style="text-align: center; margin: 0px; padding: 0px;">



    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-md-2">
            <table *ngIf="Game && Game.AwayTeam" class="table table-bordered table-dark table-hover table-responsive-sm"
                style="margin-top: 20px; opacity: 0.9;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Name</th>
                        <th>Pos</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lineUpNumber of lineupNumbers">
                        <tr *ngIf="Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber)"
                            [class]="((Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).Id == Game.CurrentAtBat.Batter.Id) ? 'table-away' : undefined)">
                            <td class="text-center">{{lineUpNumber}}</td>
                            <td><img [src]="Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).PlayerImageURL"
                                    alt="!" onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            </td>
                            <td>{{Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).Name}}</td>
                            <td class="text-center">
                                {{Game.AwayTeam.GetBatterAtLineupPosition(lineUpNumber).Position}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div class="col-md-8"> <canvas id="ballparkCanvas" style="max-width: 100%" [width]="canvasWidth"
                [height]="canvasHeight"> </canvas><br />
            <button class="btn btn-success btn-block" *ngIf="!IsPlayInProgress" style="padding: 25px;"
                (click)="ExecuteNextPlay()"><img style="cursor:pointer; max-width: 25px;"
                    src="../assets/images/baseballicon.png" />
                Next Play <i class="fa fa-arrow-right"></i></button>
        </div>
        <div class="col-md-2">
            <table *ngIf="Game && Game.HomeTeam" class="table table-bordered table-dark table-hover table-responsive-sm"
                style="margin-top: 20px; opacity: 0.9;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Name</th>
                        <th>Pos</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let lineUpNumber of lineupNumbers">
                        <tr *ngIf="Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber)"
                            [class]="((Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).Id == Game.CurrentAtBat.Batter.Id) ? 'table-home' : undefined)">
                            <td class="text-center">{{lineUpNumber}}</td>
                            <td><img [src]="Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).PlayerImageURL"
                                    alt="!" onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            </td>
                            <td>{{Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).Name}}</td>
                            <td class="text-center">
                                {{Game.HomeTeam.GetBatterAtLineupPosition(lineUpNumber).Position}}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row" style="margin: 0px; padding: 0px;">
        <div class="col-md-4">
            <table class="table table-bordered table-dark table-hover table-responsive-sm"
                style="margin: 5px; opacity: 0.8;">
                <thead>
                    <tr>
                        <th>Pitcher</th>
                        <th>Batter</th>
                        <th>Outs</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngIf="Game && Game.CurrentAtBat && Game.CurrentAtBat.Pitcher"><img
                                [src]="Game.CurrentAtBat.Pitcher.PlayerImageURL" alt="!"
                                onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            {{Game.CurrentAtBat.Pitcher.Name}}</td>
                        <td *ngIf="Game && Game.CurrentAtBat && Game.CurrentAtBat.Batter"><img
                                [src]="Game.CurrentAtBat.Batter.PlayerImageURL" alt="!"
                                onerror="this.src='../assets/images/emptyHeadshot.jpeg'" height="40px">
                            {{Game.CurrentAtBat.Batter.Name}}</td>
                        <td>
                            <ng-container *ngIf="Game.CurrentInning.IsBottomOfInning">
                                {{ Game.CurrentInning.HomeOuts }}
                            </ng-container>
                            <ng-container *ngIf="!Game.CurrentInning.IsBottomOfInning">
                                {{ Game.CurrentInning.AwayOuts }}
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
            <div style="overflow-x: auto; overflow-y:inherit;">
                <table class="table table-bordered table-dark table-hover table-responsive-sm"
                    style="margin-left: 5px; margin-right: 5px; margin-bottom: -10px; opacity: 0.8;">
                    <thead>
                        <tr>
                            <th></th>
                            <ng-container *ngFor="let inning of Game.Innings">
                                <th>{{inning.InningNumber}}</th>
                            </ng-container>
                            <th>R</th>
                            <th>H</th>
                            <th>E</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{Game.AwayTeam.TeamSeason}} {{Game.AwayTeam.TeamCity}} {{Game.AwayTeam.TeamName}}</td>
                            <ng-container *ngFor="let inning of Game.Innings">
                                <td>{{inning.AwayRunsScored}}</td>
                            </ng-container>
                            <td>{{Game.AwayTeamRuns}}</td>
                            <td>{{Game.AwayTeamHits}}</td>
                            <td>{{Game.AwayTeamErrors}}</td>
                        </tr>
                        <tr>
                            <td>{{Game.HomeTeam.TeamSeason}} {{Game.HomeTeam.TeamCity}} {{Game.HomeTeam.TeamName}}</td>
                            <ng-container *ngFor="let inning of Game.Innings">
                                <td> {{inning.HomeRunsScored}}</td>
                            </ng-container>
                            <td>{{Game.HomeTeamRuns}}</td>
                            <td>{{Game.HomeTeamHits}}</td>
                            <td>{{Game.HomeTeamErrors}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-3">
            <table class="table table-bordered table-dark table-hover table-responsive-sm"
                style="margin: 5px; opacity: 0.8;">
                <thead>
                    <tr>
                        <th>Play-By-Play Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div style="max-height: 80px; overflow-y: auto; ">
                                <ng-container *ngFor="let pbp of Game.PlayByPlays">
                                    <span>{{pbp}}</span>
                                    <hr />
                                </ng-container>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>